name: Mario App CI/CD

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  EKS_CLUSTER_NAME: mario-eks
  AWS_ACCOUNT_ID: 855158726462
  ECR_REPOSITORY: mario-game
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Configure AWS credentials via OIDC
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::855158726462:role/github-actions-mario-eks-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
         aws ecr get-login-password --region $AWS_REGION \
         | docker login --username AWS --password-stdin \
         $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com


      # 4️⃣ Build Docker image
      - name: Build Docker image
        run: |
         docker build -t mario-game:${{ github.sha }} -f app/Dockerfile app



      # 5️⃣ Trivy security scan
      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
         image-ref: mario-game:${{ github.sha }}
         exit-code: 0
         ignore-unfixed: true
         vuln-type: os,library
         severity: CRITICAL,HIGH




      # 6️⃣ Tag & push image to ECR
      - name: Push image to ECR
        run: |
         docker tag $ECR_REPOSITORY:$IMAGE_TAG \
          $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG

         docker push \
          $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG


      # 7️⃣ Update kubeconfig
      - name: Update kubeconfig
        run: |
         aws eks update-kubeconfig \
          --region $AWS_REGION \
          --name $EKS_CLUSTER_NAME

      # 8️⃣ Deploy to EKS
      - name: Deploy to EKS
        run: |
          kubectl set image deployment/mario \
            mario=$ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:${{ github.sha }}

          kubectl rollout status deployment/mario
